html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monaco;
}

body div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #007ACC;
    color: white;
    flex-basis: 22px;
    align-items: stretch;
    padding-left: 22px;
    padding-right: 22px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.mrH4{
    margin-left: 4px;
    margin-right: 4px;;
}

#root {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
}

#topMenu {
    display: flex;
    background-color: #333;
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    color: #858585;
    font-size: 1.5rem;
}

#subMenu {
    display: flex;
    background-color: #252526;
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
}

#page {
    background-color: #1E1E1E;
    flex-basis: 100%;
}

#topMenu a {
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topMenu a:hover {
    color: white;
}

.topMenuActive {
    color: white;
}

.topMenuActive::before {
    background-color: white;
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.singleLine {
    overflow: hidden;
    white-space: nowrap;
}

/* Utils */

.clickableContent {
    cursor: pointer;
    display: flex;
    background: transparent;
    flex-direction: row;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.clickableContent:hover {
    background: transparent;
    background-color: #ffffff22;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.clickableContent:active {
    outline: none;
    border: none;
    background-color: #ffffff44;
}

.clickableContent:focus {
    outline: 0;
}